= render "shared/header"
.mypage-main-box
  .mypage-main-box__main-contents
    .mypage-main-box__main-contents__wrapper
      = render "mypage-menu"
      .mypage-main-box__main-contents__wrapper__right-box
        .mypage-main-box__main-contents__wrapper__right-box__content
          .mypage-main-box__main-contents__wrapper__right-box__content__title
            Profile
            .mypage-main-box__side-bar
              .mypage-main-box__side-bar__profile
                .mypage-main-box__side-bar__profile__image
                  = form_with model: @user do |f|
                    = f.label :profile_image, title: "クリックして画像を変更" do
                      - if @user.profile_image.blank?
                        = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", class: "mypage-main-box__side-bar__profile__image__box", id: "img_prev"
                      - else
                        = image_tag @user.profile_image.url,  class: "mypage-main-box__side-bar__profile__image__box", id: "img_prev"
                      = f.file_field :profile_image, class: "mypage-main-box__side-bar__profile__image__file", id: "post_img"
                    .mypage-main-box__side-bar__profile__image__submit-btn
                      = f.submit "画像保存", class: "profile-edit-btn"

                .mypage-main-box__side-bar__profile__user-info
                  .mypage-main-box__side-bar__profile__user-info__nickname
                    ニックネーム：
                    = @user.nickname
                  .mypage-main-box__side-bar__profile__user-info__favorite-tags
                    .mypage-main-box__side-bar__profile__user-info__favorite-tags__item-name
                      お気に入りタグ:
                    .mypage-main-box__side-bar__profile__user-info__favorite-tags__item-content
                      - @user.categories.each do |mytag|
                        .mypage-main-box__side-bar__profile__user-info__favorite-tags__item-content__tag
                          = mytag.tag_name
                  .mypage-main-box__side-bar__profile__user-info__rate
                    .mypage-main-box__side-bar__profile__user-info__rate__item-rank
                      ランク：
                      - if  @total_rate >= 300
                        A
                      - elsif @total_rate >= 100
                        B
                      - elsif @total_rate >= -5
                        C
                      - elsif  @total_rate >= -15
                        D
                      - else
                        E
                  .mypage-main-box__side-bar__profile__user-info__card-info
                    = link_to new_card_path, class: "none-decoration-link" do
                      カード情報変更