= render "shared/header"
.mypage-main-box
  = render "mypage-sidebar"
  .mypage-main-box__main-contents
    .mypage-main-box__main-contents__wrapper
      = render "mypage-menu"
      .mypage-main-box__main-contents__wrapper__right-box
        .mypage-main-box__main-contents__wrapper__right-box__content
          .mypage-main-box__main-contents__wrapper__right-box__content__title
            My Works
          .mypage-main-box__main-contents__wrapper__right-box__content__table-name
          %table
            %thead
              %tr
                %th.myproject-title 作品名
                %th.myproject-item-like 評価
            %tbody
              - @user.projects.includes(:feedbacks).each do |mywork|
                %tr
                  - if mywork.feedbacks.any?
                    %td.myproject-title= link_to "#{mywork.title}",project_feedback_path(mywork), class: "myproject-title__link"
                    %td.myproject-item-rate= mywork.reviews.sum(:rate)