タイトル：
= @project.title
%br
tag:
.tags
  - @project.categories.each do |category|
    .tags__tag
      = category.tag_name
%br
内容：
= @project.content
%br
目標金額：¥
= @project.goal_amount.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')
%br
現在の合計金額：¥
= @total_amount.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')
(達成率：#{number_to_percentage(@total_amount/@project.goal_amount.to_f * 100, precision: 0)})
%br
期限：
= @project.limit.strftime("%Y/%-m/%-d")
- if @remaining_days == 0
  （本日締切！）
- elsif @remaining_days > 0
  （残り#{@remaining_days}日）
- else
  （募集終了）
%br
%h3
  いいね件数: #{@project.likes.count}
- if current_user.already_liked?(@project)
  = link_to project_like_path(@project), method: :delete, remote: true do
    = fa_icon "heart", class: "liked-icon", id: "liked-users"
- else
  = link_to project_likes_path(@project), method: :post, remote: true do
    = fa_icon "heart-o", class: "like-icon", id: "liked-users"
.like-users-list
  いいねしたユーザー：
  - unless @project.likes.count == 0
    - @project.liked_users.each do |user|
      %li= user.nickname
  - else
    いいねしたユーザーはまだいません
%br
- if @project.user_id == current_user.id
  = link_to edit_project_path do
    投稿内容編集
- else
  - if @remaining_days < 0
    募集期間終了
  - else
    = link_to purchase_path do
      サポートする
%br
= link_to root_path do
  一覧に戻る