= render "shared/header"
.purchase-show
  .purchase-show__purchase-box
    = form_tag(action: :pay, method: :post) do
      .purchase-show__purchase-box__title
        以下のプロジェクトをサポートしますか？
      .purchase-show__purchase-box__contents
        .purchase-show__purchase-box__contents__project-title
          プロジェクト名：
          %span #{@project.title}
        .purchase-show__purchase-box__contents__project-goal-amount
          目標金額：
          %span ¥#{@project.goal_amount.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}
        .purchase-show__purchase-box__contents__project-total-amount
          現在の合計金額：
          %span ¥#{@project.investments.sum(:investment_amount).to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}
          （達成率：#{number_to_percentage(@project.investments.sum(:investment_amount)/@project.goal_amount.to_f * 100, precision: 0)}）
        .purchase-show__purchase-box__contents__investment-amount
          サポート金額：¥
          = text_field_tag :investment_amount
        .purchase-show__purchase-box__contents__card-info
          支払い方法
          - if @default_card_information.blank?
            %br /
          - else
            -#以下カード情報を表示
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
      .purchase-show__purchase-box__bottom-box
        %button.purchase-show__purchase-box__bottom-box__investment-btn 内容を確認してサポートする
  .return-top
    = link_to '＜一覧に戻る＞', root_path, class: "none-decoration-link"