= render "shared/header"
.project-show
  .project-show__wrapper
    .project-show__wrapper__upper-contents
      .project-show__wrapper__upper-contents__top-info
        .project-show__wrapper__upper-contents__top-info__owner-name
          プロジェクトオーナー：
          = @project.user.nickname
      .project-show__wrapper__upper-contents__title
        = @project.title
      .project-show__wrapper__upper-contents__category
        .project-show__wrapper__upper-contents__category__tags
          - @project.categories.each do |category|
            .project-show__wrapper__upper-contents__category__tags__tag
              = category.tag_name
      .project-show__wrapper__upper-contents__amount
        目標金額：
        %span ¥
        %span= @project.goal_amount.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')
        ／ 最終合計金額：
        %span ¥#{@project.investments.sum(:investment_amount).to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}
        （達成率：#{number_to_percentage(@project.investments.sum(:investment_amount)/@project.goal_amount.to_f * 100, precision: 0)}）
      .project-show__wrapper__upper-contents__like
        .project-show__wrapper__upper-contents__like__count
          = link_to new_project_review_path do
            レビューを書く

    .project-show__wrapper__bottom-contents
      .project-show__wrapper__bottom-contents_title
        フィードバック内容
      = @feedback.text

  .return-top
    = link_to root_path(@project), class: "none-decoration-link" do
      ＜一覧に戻る＞