= render "shared/header"
.project-show
  .project-show__wrapper
    .project-show__wrapper__upper-contents
      .project-show__wrapper__upper-contents__top-info
        .project-show__wrapper__upper-contents__top-info__owner-name
          プロジェクトオーナー：
          = @project.user.nickname
      .project-show__wrapper__upper-contents__title
        = @project.title
      .project-show__wrapper__upper-contents__category
        .project-show__wrapper__upper-contents__category__tags
          - @project.categories.each do |category|
            .project-show__wrapper__upper-contents__category__tags__tag
              = category.tag_name
      .project-show__wrapper__upper-contents__amount
        目標金額：
        %span ¥
        %span= @project.goal_amount.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')
        ／ 最終合計金額：
        %span ¥#{@project.investments.sum(:investment_amount).to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}
        （達成率：#{number_to_percentage(@project.investments.sum(:investment_amount)/@project.goal_amount.to_f * 100, precision: 0)}）
      .project-show__wrapper__upper-contents__like
        .project-show__wrapper__upper-contents__like__count

    .project-show__wrapper__bottom-contents
      .review-contents
        .review-contents__item-title
          レビュー一覧：
        - @project.reviews.each do |review|
          .review-contents__item-content
            .review-contents__item-content__upper
              .review-contents__item-content__upper__nickname
                投稿者：
                = review.user.nickname
              .review-contents__item-content__upper__rate
                評価：
                - if review.rate == 3
                  非常に良い
                - elsif review.rate == 1
                  良い
                - elsif review.rate == 0
                  普通
                - elsif review.rate == -1
                  悪い
                - else
                  非常に悪い

            .review-contents__item-content__main
              = review.review

  .return-top
    = link_to root_path, class: "none-decoration-link" do
      ＜一覧に戻る＞